html, body {
    height: 100%;
    width: 100%;
}
/*
form {
    position: fixed;
    bottom: 0;

    width: inherit;
    padding: 3px;

    background: #000;
}*/

#header {
  height: 10%;
  font-size: 34px;
  padding: 5px;
}

#sectionWrap {
  width: inherit;
  height: 85%;
}

#chatarea {
  float: left;
  border: 3px #ff00cb solid;
  width: 70%;
  height: 100%;
}
#userarea {
  float: right;
  border: 3px #78ff00 solid;
  width: 30%;
  height: 100%;
}

#messagesWrap {
  height: 95%;
  border: 3px #7673fc solid;
  overflow: auto;
}

#chatsubmit {
  height: 5%;
}

#messages {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#footer {
  height: 5%;
  background: #9ca6b3;
}
